---
import PageWrapper from "../../layouts/PageWrapper.astro";
import NotesWrapper from "../../layouts/NotesWrapper.astro";
---

<PageWrapper title="COMP9319 Notes" description="COMP9319 notes">
    <NotesWrapper
        courseName="Web Data Compression"
        dateCreated={new Date("2023-05-23")}
    >
        <div>COMP9319</div>
    </NotesWrapper>
</PageWrapper>
