<span class="tag"><slot /></span>
<style>
    .tag {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 5px;
        font-size: 0.7em;

        background-color: lightgrey;
        border-radius: 8px;
    }
</style>
